<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>제작</title>
<!--    <link rel="stylesheet" href="/css/craft.css">-->
</head>
<body>
<!-- 각페이지 항목-->
<div layout:fragment="content">
    <div class="craft page_content">
        <h2 style="text-align: center;">제작</h2>
        <div class="craft-section">
            <div>
                <table>
                    <thead>
                    <tr>
                        <th class="icon-cell"></th>
                        <th>이름</th>
                        <th>최저가</th>
                    </tr>
                    </thead>
                    <tbody id="craft-table-body">
                    <!-- JavaScript로 추가 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- JavaScript 작성란 -->
    <script src="/js/craft.js"></script>
    <script th:inline="javascript">
        // const marketInfo = [[${marketInfo}]];
    </script>
</div>
</body>
</html>
