<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>각인서</title>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="/css/market.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </th:block>
</head>
<body>
<!-- 각페이지 항목-->
<div layout:fragment="content">
    <div class="market page_content">
        <h2 style="text-align: center;">각인서</h2>
        <div class="market-section">
            <div>
                <table>
                    <thead>
                    <tr>
                        <th class="icon-cell"></th>
                        <th>이름</th>
                        <th>최저가</th>
                        <th>가격 변동 (하루)</th>
                    </tr>
                    </thead>
                    <tbody id="market-table-body">
                    <!-- JavaScript로 추가 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <th:block layout:fragment="scripts">
        <script src="/js/market.js"></script>
        <script th:inline="javascript">
            const marketInfo = [[${marketInfo}]];
        </script>
    </th:block>

</div>
</body>
</html>
