<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>입찰 계산기</title>
    <link rel="stylesheet" href="/css/bid.css">
</head>
<body>
<!-- 각페이지 항목-->
<div layout:fragment="content">
    <div class="bid page_content">
        <h2 style="text-align: center;">입찰 계산기</h2>
        <form class="bid_calculator">
            <div>
                <label>가격</label>
                <div class="price-row">
                    <input type="number" name="price" min="50" value="">
                    <button type="submit" class="button-style submit">계산</button>
                </div>
            </div>

            <div>
                <label>인원</label>
                <div class="radio-group">
                    <div>
                        <label>4명</label>
                        <input type="radio" name="count" value="4" checked>
                    </div>
                    <div>
                        <label>8명</label>
                        <input type="radio" name="count" value="8">
                    </div>
                    <div>
                        <label>16명</label>
                        <input type="radio" name="count" value="16">
                    </div>
                </div>
            </div>
            <div class="results">
                <div style="grid-column: 1 / span 2;">
                    <label for="regular_price">적정 입찰가</label>
                    <div class="regular-price-row">
                        <span id="regular_price"></span>
                        <button type="button" class="copy-btn" onclick="copyPrice()">복사</button>
                    </div>
                </div>

                <div>
                    <label>적정 입찰가 분배금</label>
                    <span id="rp_distribution"></span>
                </div>

                <div>
                    <label>손익 분기점</label>
                    <span id="bep"></span>
                </div>

                <div>
                    <label>손익 분기점 분배금</label>
                    <span id="distribution"></span>
                </div>

                <div>
                    <label>입찰 한번 더</label>
                    <span id="one_more"></span>
                </div>

                <div>
                    <label>수수료</label>
                    <span id="fee"></span>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/bid.js"></script>
    <script th:inline="javascript">

    </script>
</div>
</body>
</html>
