<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>각인서</title>
    <link rel="stylesheet" href="/css/market.css">
</head>
<body>
<!-- 각페이지 항목-->
<div layout:fragment="content">
    <div class="market page_content">
        <h2 style="text-align: center;">각인서</h2>
        <div class="market-section">
            <div>
                <table>
                    <thead>
                    <tr>
                        <th class="icon-cell"></th>
                        <th>이름</th>
                        <th>최저가</th>
                    </tr>
                    </thead>
                    <tbody id="market-table-body">
                    <!-- JavaScript로 추가 -->
                    </tbody>
                </table>
                <div th:if="${error}">
                    <p style="color:red;" th:text="${error}"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript 작성란 -->
    <script src="/js/market.js"></script>
    <script th:inline="javascript">
        const marketInfo = [[${marketInfo}]];
    </script>
</div>
</body>
</html>
